@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

:root {
    --bg-color: #f9fada;
    --secondary-bg-color: #dede16;
    --third-bg-color: #16dede;
    --text-color: #000;
    --secondary-text-color: #333333;
    --link-color: #0da2b8;
    --border-color: #dadada;
}

:root.dark {
    --bg-color: #131415;
    --secondary-bg-color: #16dede;
    --third-bg-color: #dede16;
    --text-color: #fff;
    --secondary-text-color: #adb0b1;
    --link-color: #1ebed6;
    --border-color: #2b3031;
}

* {
    line-height: 1.5em;
    color: var(--text-color);
    /* box-sizing: border-box; */
    font-family: 'DynaPuff', cursive;
}

p,
span {
    color: var(--secondary-text-color);
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 500;
    display: flex;
    align-items: center;

}

span {
    display: flex;
    align-items: center;
}

body {
    background-color: var(--bg-color);
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
}

.page {
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
    padding: 1em 0 1em 0;
}

#hero {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: var(--secondary-bg-color); */
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 100px 0 150px;

}

#user-name {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1em;
}

#profile {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 25px;
}

#body {
    display: flex;
    height: 800px;
}

.sidebar {
    /* min-width: 300px; */
    width: 400px;
    min-width: 300px;
    /* background-color: var(--third-bg-color); */
}

.sidebar-section {
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
    gap: .5em;
}

.contact a {
    font-weight: 300;
    color: var(--secondary-text-color);
    font-size: 1em;
    transition: 0.5s;

    /* background-color: aqua; */
}

.contact a:hover {
    font-weight: 100;
    color: var(--link-color);
    font-size: 1em;
}

#bar {
    content: '';
    border-bottom: 2px solid black;
    display: block;
}

.icons {
    height: 15px;
}

h2 {
    margin: 10px;
    align-items: center;
    display: flex;
    text-transform: uppercase;
}

span>.icons {
    height: 25px;
}

.icons-number {
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 15px;
}

/* .aboutme {
    display: flex;
} */

.mainBody {
    display: flex;
    flex-direction: column;


}

.edu-ext,
.aboutme-ext,
.exp-ext {
    padding: 0 5% 0 15%;
}